---
layout: withbar
---

<div class="home">

  <h1 class="page-heading"><b>POSTS</b></h1>

  <ul class="post-list">
    {% for post in site.posts %}

      {% if post.categories contains "sketch" %}
        <li class="post-item post-item-green">
          {% include post-item.html %}
        </li>
      {% elsif post.categories contains "image" %}
        <li class="post-item post-item-blue">
        {% include post-item.html %}
        </li>
        {% elsif post.categories contains "media" %}
          <li class="post-item post-item-red">
          {% include post-item.html %}
          </li>
      {% else %}
        <li class="post-item post-item-orange">
        {% include post-item.html %}
        </li>
      {% endif %}



    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href='{{ "/feed.xml" | prepend: site.baseurl }}'>via RSS</a></p> -->

</div>
