<div class="author sidecard column">
  <img src="/assets/img/site/author.jpg"/>
  <a class="link-author-card" href="{{my_page.url | append: '/about/'}}"><h2>The Creator</h2>
  <p class="desc-author-card">Paipa Psyche</p></a>

  <p class="author-content">
    <b>Computational astrophysicist</b> with affinity for <b>Artificial Intelligence</b> and <b>scientific outreach through art</b>.
  </p>

  <p class ="author-content">Programmer, visual artist and science communicator based in Bogotá, Colombia, with knowledge in Spanish,
    English, Portuguese, French and German Languages. I believe that programming is a tool that can be used to
    link the <b>secret patterns</b> present in nature with the intense mists of <b>human expression</b>.
  </p>
</div>
