---
layout: default
---


<div class="topic">
  <div class="topic-head-row row">
    <div class="topic-icon">
      <img src="{{site.baseurl}}/assets/img/site/icon-gallery.png"/>
    </div>
    <div class="topic-head">
      <h1 class="topic-title"><b>GALLERY</b></h1>
      <i>{{content}}</i>
    </div>
</div>
  <ul class="gallery-list">
    {% for image in site.categories.image %}

      <li class="gallery-post">
        <div class="gallery-post-content">
        <div>
        <a href="{{ image.url | prepend: site.baseurl }}">
          <img class="gallery-post-img" src="{{image.image | prepend: site.baseurl }}" alt="{{image.title}}"/>
        </a>
        </div>
        <div class="gallery-post-detail">
          <h2>{{image.title}}</h2>
          <h4>{{image.author}}</h4>
          <p>{{image.description}}</p>
        </div>
        </div>


      </li>

    {% endfor %}
  </ul>


</div>
